<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brouken.wear.butcher">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">
        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".LaunchActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VOICE_ASSIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AppPickerActivity" />

        <activity android:name=".HelpActivity" />

        <activity
            android:name=".ConfigActivity"
            android:label="Button Launcher Config">
        </activity>

        <activity android:name=".AutoTimer"
            android:label="Auto Timer">
            <intent-filter>
                <action android:name="com.brouken.wear.butcher.intent.action.AUTO_TIMER" />
            </intent-filter>
        </activity>

        <activity android:name=".NoActionActivity"
            android:label="Blank action">
            <intent-filter>
                <action android:name="com.brouken.wear.butcher.intent.action.NO_ACTION" />
            </intent-filter>
        </activity>
    </application>

</manifest>